<ul>
  @for (place of places(); track place.id) {
  <li class="place-item">
    <button (click)="onSelectPlace(place)">
      <picture>
        <source [srcset]="https://httprequestsbackend-3sv1hma7.b4a.run/ + place.image.webp" type="image/webp" />
        <img [src]="https://httprequestsbackend-3sv1hma7.b4a.run/ + place.image.src" [alt]="place.image.alt" loading="lazy" />
      </picture>
          'https://httprequestsbackend-3sv1hma7.b4a.run/' + place.image.src
        "
        [alt]="place.image.alt"
      />
      <h3>{{ place.title }}</h3>
    </button>
  </li>
  }
</ul>
